.ChatMain__Top
  .ChatMain__Top__Left
    = @group.name
    .ChatMain__Top__Left__member
      - @group.users.each do |user|
        = user.name
  = link_to edit_group_path(@group), class: 'ChatMain__Top__Edit' do
    Edit


.ChatMains
  .ChatMain
    = render @messages
    -# .ChatMain__Child
    -#   .ChatMain__Child__Name
    -#     -# name
    -#   .ChatMain__Child__Date
    -#     -# 2019/12/05(Thu)17:00:00
    -# .ChatMain__message
    -#   -# おはよう

  .ChatMain__Under
    .TextForm__Main
      .TextForm__Main__Box
        .TextForm__Main__Box__Message
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'TextForm__Main__Box__Message__1', placeholder: ' type a message'
            .TextForm__Main__Box__Icon
              = f.label :image, class: 'input-box__image' do
                = icon('fas', 'image')
                = f.file_field :image, class: 'input-box__image__child'
            .TextForm__Main__Button
              = f.submit 'Send', class: 'TextForm__Main__Button__Design'